{% extends "base.html" %}

{% block content %}

<h2>Добро пожаловать, друзья!</h2>

<p>Вы попали на сайт Подвесного университета. Честно говоря, он больше предназначен для помощи организаторам в их не легком деле. Но все же и слушатели тут могут получить некую полезную информацию.</p>

<p>Пара слов о Подвесном. Подвесной университет - это система обмена знаниями. Есть те, кто что-то упустил или не было времени, а есть те, кто разобрался и хочет поделиться с другими. Подвесной помогает им найти друг друга.</p>

<p>А еще всегда нужны помещения для проведения занятий.</p>

<h3>Где найти Подвесной</h3>

<p>Прежде всего стоит обратить внимание на группу во <a href="http://vk.com/podvesnoy_universitet">Вконтакте</a>. Все новости и актуальные события там.</p>

<p>Если вам удобно отслеживать события Подвесного в виде уведомлений, то у нас есть <a href="https://twitter.com/podvesnoy_spb/">Твиттер</a>.<p>

<p>Кое-что можно найти и в Живом Журнал. Да и на <a href="http://www.facebook.com/groups/podvesnoy/">Фейсбуке</a> тоже.</p>

<p>А на этом сайте есть <a href="/calendar/">Календарь</a>, в котором все занития расписаны буквально по дням и часам.</p>

<p>Если вы решите включиться в работу Подвесного, то с организаторами лучше всего связываться через Вконтакте или <a href="mailto:podvesnoy.universitet@gmail.com?subject=С%20сайта%20Подвесного">по электронной почте</a>.</p>

<h3>Текущие курсы</h3>
<ul>
<li><a href="https://vk.com/philosophymayk">Философия</a></li>
<li><a href="https://vk.com/base_it">Основы АйТи</a></li>
<li><a href="https://vk.com/shkola_sysadm">Школа сисадмина</a></li>
<li><a href="https://vk.com/event59113707">Практическое внимание-понимание</a></li>
<li><a href="https://vk.com/event62620207">Игра в пианино</a></li>
<li><a href="https://vk.com/trygo">Игра Го</a></li>
<li><a href="https://vk.com/chor_podvesnoy">Хор в Подвесном</a></li>
</ul>

{% endblock %}